.spinner-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70vh; /* Make it take up most of the page */
}

.spinner {
  width: 50px;
  height: 50px;
  border: 5px solid var(--color-secondary); /* Light grey border */
  border-top-color: var(--color-primary); /* Blue border on top */
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}